* {
    margin: 0;
    padding: 0;
    transition: all .3s ease-out;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    height: 5%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0rem 0.5rem 1rem rgb(162, 133, 80);
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .contacts a {
    display: inline-block;
    font-family: Arial;
    font-size: 1.7rem;
    vertical-align: middle;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    text-shadow: 1px 0 1px #000, 
}

header .contacts img {
    max-width: 25px
}

.header .contacts a:hover {
    
    transform: scale(1.2, 1.2);
    color: rgb(86, 65, 39);
}

header .navbar a {
    display: inline-block;
    font-family: Arial;
    font-size: 1.7rem;
    vertical-align: middle;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
}

.header .navbar a:hover {
    
    transform: scale(1.2, 1.2);
    color: rgb(86, 65, 39);
}

.menu_btn {
    display: none;
    max-width: 25px
}

.menu_btn:hover {
    max-width: 27px;
    cursor: pointer;
}

.detailed {
    font-size: 1.7rem;
    background: linear-gradient(rgb(3, 3, 72), rgb(14, 13, 13));
    color: white;
    padding: 7px;
    border-radius: 2px;
}

.detailed:hover {
    font-size: 1.8rem;
    background: linear-gradient(rgb(28, 28, 76), rgb(39, 37, 37));
    padding: 9px;
    border-radius: 3px;
    cursor: pointer;
}

/* Adaptation*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 770px) {
    .menu_btn {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(162, 133, 80);
        color: rgb(207, 207, 235);
        padding: 1rem 2rem;
        border-top: .1rem solid rgb(162, 133, 80);
        box-shadow: 0rem 0.5rem 1rem rgb(162, 133, 80);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
    }

    .header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
    }

    .header .navbar a:hover {
    
        transform: scale(1, 1);
        transform: translateX(10px);
        color: black;
        cursor: pointer;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
    }  
}
